<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ncl.djwelsh.checkpoint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.djwelsh.checkpoint.MainActivity" />
        </activity>
        <activity
            android:name=".SubjectSelect"
            android:label="@string/title_activity_subject_select"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.djwelsh.checkpoint.MainActivity" />
        </activity>
        <activity
            android:name=".AddSubject"
            android:label="@string/title_activity_add_subject"
            android:parentActivityName=".SubjectSelect"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.djwelsh.checkpoint.SubjectSelect" />
        </activity>
        <activity
            android:name=".SubjectOverview"
            android:label="@string/title_activity_subject_overview"
            android:parentActivityName=".SubjectSelect"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.djwelsh.checkpoint.SubjectSelect" />
        </activity>
        <activity
            android:name=".AddCard"
            android:label="@string/title_activity_add_card"
            android:parentActivityName=".AddSubject"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.djwelsh.checkpoint.AddSubject" />
        </activity>
        <activity
            android:name=".CardOverview"
            android:label="@string/title_activity_card_overview"
            android:parentActivityName=".SubjectOverview"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.djwelsh.checkpoint.SubjectOverview" />
        </activity>
        <activity
            android:name=".StartQuiz"
            android:label="@string/title_activity_start_quiz"
            android:parentActivityName=".SubjectOverview"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.djwelsh.checkpoint.SubjectOverview" />
        </activity>
        <activity
            android:name=".PlayQuiz"
            android:label="@string/title_activity_play_quiz"
            android:parentActivityName=".StartQuiz"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.djwelsh.checkpoint.StartQuiz" />
        </activity>
        <activity
            android:name=".QuizResults"
            android:label="@string/title_activity_quiz_results"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
